.nanum-pen-script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'500,
        'GRAD'0,
        'opsz'50
}

* {
    font-family: "Nanum Pen Script", cursive;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f2eb;
   
}

ul {
    list-style: none;
}

a {
    color:#081f5c;
    text-decoration: none;
}

header {
    position: sticky;
    background-color:#f7f2eb;
    width: 100%;
    top: 0px;
    height: 100px;
    z-index: 99;
}

.header_logo {
    padding-left: 30px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    float: left;
}

.header_logo>a>img {
    width: 32px;
}

.header_nav {
    line-height: 100px;
    right: 0;
    position: absolute;
    width: 210px;
}

.header_nav .open {
    position: absolute;
    width: 500px;
    height: 200px;
}

.header_nav .header_menu {
    display: flex;
}

.header_nav .header_menu>li {
    width: 100px;
}

.header_nav .header_menu>li>a {
    font-size: 1.1rem;
    font-weight: 600;
}


.menu-icon {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 3px;
    right: 0;
    background-color:#f7f2eb;
    position: absolute;
}


#work_all {
    padding-top: 50px;
    background-color:#f7f2eb;
    position: relative;
    width: 100%;

}

#work_all>h2 {
    height: 50px;
    line-height: 50px;
    font-size: 2.5rem;
    text-align: center;
    color: #081f5c;
}
#work_all>p{
    top: 210px;
    right: 300px;
    position: absolute;
    font-size: 1.2rem;
    color: #081f5c; 
}
.category {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 1rem;
    height: 100px;
}

.category_button {
    position: relative;
    color:#081f5c;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: 1px solid#081f5c;
    background-color: transparent;
    cursor: pointer;
}

.category_button:hover {
    filter: none;
}

.category_button span.active {
    color:#081f5c;

}

.category_button:not(.active) span {
    transition: filter 0.1s;
}

.category_button>span {
    color:  #081f5c;
    font-size: 1.2rem;
}

.work_img {
    position: relative;
    width: 100%;
    height: 1100px;
    padding-top: 50px;
}

.work_01 {
    left: 11%;
    width: 350px;
    height: 700px;
    position: absolute;
    display: flex;
    flex-flow: column;
}


.work_01>div {
    position: relative;
    width: 300px;
    height: 760px;
    padding-top: 20px;
    border-radius: 30px;
    border: 1px solid  #081f5c;
}

.work_01>div>a>img {
    width: 350px;
}

.work_02 {
    width: 350px; 
    height: 700px;
    position: absolute;
    display: flex;
    flex-flow: column;
    padding-left: 30px;
    left: 26.5%;
}

.work_02>div {
    position: relative;
    width: 300px;
    height: 760px;
    padding-top: 20px;
    border-radius: 30px;
    border: 1px solid  #081f5c;
}


.work_02>div:nth-child(1) {
    position: absolute;
    border-radius: 30px;
    border: 1px solid #081f5c;
    top: 0px;
    height: 280px;
    width: 350px;
}

.work_02>div:nth-child(1)>a>img,
.work_02>div:nth-child(2)>a>img {
    width: 350px;
    padding-top: 20px;
}

.work_02>div:nth-child(2) {
    position: absolute;
    top: 300px;
    border-radius: 30px;
    border: 1px solid #081f5c;
    height: 350px;
    width: 350px;
}


.work_03 {
    padding-left: 50px;
    width: 25%;
    left: 45%;
    position: absolute;
    display: flex;
    flex-flow: column;
}

.work_03>div:nth-child(1)>a>img {
    width: 350px;
    padding-top: 40px;

}

.work_03>div:nth-child(2)>a>img {
    width: 350px;
    padding-top: 120px;
}

.work_03>div:nth-child(1) {
    position: absolute;
    border-radius: 30px;
    border: 1px solid #081f5c;
    top: 0px;
    height: 340px;
    width: 350px;
}

.work_03>div:nth-child(2) {
    position: absolute;
    border-radius: 30px;
    border: 1px solid #081f5c;
    top: 360px;
    height: 450px;
    width: 350px;
}

.work_04 {
    padding-left: 50px;
    width: 25%;
    left: 65%;
    position: absolute;
    display: flex;
    flex-flow: column;
}

.work_04>div:nth-child(1) {
    position: absolute;
    border-radius: 30px;
    border: 1px solid  #081f5c;
    top: 0px;
    height: 600px;
    width: 350px;
}

.work_04>div:nth-child(1)>a>img {
    width: 350px;
    padding-top: 30px;

}
.work_04>div:nth-child(2)>a>img {
    width: 350px;
    padding-top: 0px;

}
.work_04>div:nth-child(2) {
    position: absolute;
    border-radius: 30px;
    border: 1px solid  #081f5c;
    top: 620px;
    height: 280px;
    width: 350px;
}


#contact {
    position: relative;
    width: 100%;
    height: 300px;
    padding-top: 50px;
    background-color:#f7f2eb;
}

#contact>h2 {
    height: 50px;
    line-height: 50px;
    font-size: 2.5rem;
    text-align: center;
    color:  #081f5c;
}

#contact section {
    color:#081f5c;
    height: 200px;
    display: flex;
    justify-content: center;
}

#contact section>div {
    margin: 0 30px;
    position: relative;
}

#contact section>div>span {
    position: absolute;
    top: 75px;
    left: -27px;
}

#contact section>div>p {
    line-height: 170px;
    font-size: 1.5rem;
}