.nanum-pen-script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'500,
        'GRAD'0,
        'opsz'50
}

* {
    font-family: "Nanum Pen Script", cursive;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    /* min-width: 1800px; */
}

ul {
    list-style: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header {
    position: sticky;
    background-color: rgb(0, 0, 0);
    width: 100%;
    top: 0px;
    height: 100px;
    z-index: 99;
}

.header_logo {
    padding-left: 30px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    float: left;
}

.header_logo>a>img {
    width: 35px;
}

.header_nav {
    line-height: 100px;
    right: 0;
    position: absolute;
    width: 210px;
}

.header_nav .open {
    position: absolute;
    width: 500px;
    background-color: yellowgreen;
    height: 200px;
}



.header_nav .header_menu {
    display: flex;
}

.header_nav .header_menu>li {
    width: 100px;
}

.header_nav .header_menu>li>a {
    font-size: 1.1rem;
}


.menu-icon {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 3px;
    right: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
}


#work_all {
    padding-top: 50px;
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 100%;

}

#work_all>h2 {
    height: 50px;
    line-height: 50px;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}

.category {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 1rem;
    height: 100px;
}

.category_button {
    position: relative;
    color: rgb(255, 255, 255);
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: 1px solid rgb(119, 141, 255);
    background-color: transparent;
    cursor: pointer;
}

.category_button:hover{
    filter: none;
}
.category_button span.active {
    color: white;

}

.category_button:not(.active) span {
    filter: blur(1.5px);
    transition: filter 0.1s;
}

.category_button>span {
    color: white;
    font-size: 1.2rem;
    filter: blur(1.6px);
    transition: filter 0.1s;
}

.work_img {
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 900px;
    padding-top: 50px;
}

.work_01 {
    left: 11%;
    width: 350px;
    height: 700px;
    position: absolute;
    display: flex;
    flex-flow: column;
}

.work_01>div:nth-child(1) {
    position: absolute;
    border-radius: 30px;
    border: 1px solid rgb(119, 141, 255);
    top: 0px;
    height: 280px;
    width: 350px;
}

.work_01>div:nth-child(1)>a>img,
.work_01>div:nth-child(2)>a>img {
    width: 350px;
    padding-top: 20px;
}

.work_01>div:nth-child(2) {
    position: absolute;
    top: 300px;
    border-radius: 30px;
    border: 1px solid rgb(119, 141, 255);
    height: 350px;
    width: 350px;
}

.work_02 {
    padding-left: 30px;
    width: 25%;
    left: 29%;
    position: absolute;
}

.work_02>div {
    position: relative;
    width: 300px;
    height: 760px;
    padding-top: 20px;
    border-radius: 30px;
    border: 1px solid rgb(119, 141, 255);
}

.work_02>div>a>img {
    width: 350px;
}

.work_03 {
    padding-left: 50px;
    width: 25%;
    left: 45%;
    position: absolute;
    display: flex;
    flex-flow: column;
}

.work_03>div:nth-child(1)>a>img {
    width: 350px;
    padding-top: 40px;

}

.work_03>div:nth-child(2)>a>img {
    width: 350px;
    padding-top: 120px;
}

.work_03>div:nth-child(1) {
    position: absolute;
    border-radius: 30px;
    border: 1px solid rgb(119, 141, 255);
    top: 0px;
    height: 340px;
    width: 350px;
}

.work_03>div:nth-child(2) {
    position: absolute;
    border-radius: 30px;
    border: 1px solid rgb(119, 141, 255);
    top: 360px;
    height: 450px;
    width: 350px;
}

.work_04 {
    padding-left: 50px;
    width: 25%;
    left: 65%;
    position: absolute;
    display: flex;
    flex-flow: column;
}

.work_04>div:nth-child(1) {
    position: absolute;
    border-radius: 30px;
    border: 1px solid rgb(119, 141, 255);
    top: 0px;
    height: 600px;
    width: 350px;
}

.work_04>div:nth-child(1)>a>img {
    width: 350px;
    padding-top: 30px;

}


#contact {
    position: relative;
    width: 100%;
    height: 300px;
    padding-top: 50px;
    background-color: rgb(0, 0, 0);
}

#contact>h2 {
    height: 50px;
    line-height: 50px;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}

#contact section {
    color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
}

#contact section>div {
    margin: 0 30px;
    position: relative;
}

#contact section>div>span {
    position: absolute;
    top: 75px;
    left: -27px;
}

#contact section>div>p {
    line-height: 170px;
    font-size: 1.5rem;
}