@media all and (max-width:768px) {
    * {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        height: 110px;
        flex-flow: column nowrap;
        align-items: start;
        display: flex;
        justify-content: center;

    }

    .header_logo {
        padding-left: 20px;
        top: 40px;
        position: absolute;
        float: left;
    }

    .header_nav {
        top: -10px;
        position: absolute;
        right: -30px;
        display: block;
    }

    .header_nav .header_menu>li>a {
        font-size: 1.0rem;
        font-weight: 600;
    }

    #work_all {
        height: 1600px;
        top: 10px;
        background-color: #f7f2eb;
        position: relative;
        width: 100%;

    }

    #work_all>h2 {
        height: 50px;
        line-height: 50px;
        font-size: 2.1rem;
        text-align: center;
        color: #081f5c;
    }

    .category {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        gap: 1rem;
    }

    .category_button {
        position: relative;
        color: #081f5c;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: 1px solid #081f5c;
        background-color: transparent;
        cursor: pointer;
    }

    .category_button span.active {
        color: #081f5c;
    }


    .category_button>span {
        color: #081f5c;
        font-size: 1.1rem;
    }

    .work_img {
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 1400px;
        padding-top: 50px;
    }

    .work_01 {
        left: 30px;
        width: 100%;
        position: absolute;
        display: flex;
        flex-flow: column;
        height: 600px;
    }
    .work_01>div {
        width: 250px;
        height: 580px;
        padding: 10px;
        border-radius: 30px;
        border: 1px solid #081f5c;
    }

    .work_01>div>a>img {
        width: 250px;
    }

    .work_02 {
        left: 280px;
        width: 100%;
        height: 500px;
        position: absolute;
        display: flex;
        flex-flow: column;
    }

   .work_02>div:nth-child(1) {
        position: absolute;
        border-radius: 30px;
        border: 1px solid #081f5c;
        top: 0px;
        height: 230px;
        width: 260px;
    }

    .work_02>div:nth-child(1)>a>img {
        width: 250px;
        margin: 0px;
    }

    .work_02>div:nth-child(2)>a>img {
        width: 250px;
        padding-top: 0px;
        margin: 0;
    }

    .work_02>div:nth-child(2) {
        position: absolute;
        top: 240px;
        border-radius: 30px;
        border: 1px solid #081f5c;
        height: 230px;
        width: 260px;
    }
    .work_03 {
        left: 15px;
        padding-left: 17px;
        width: 100%;
        height: 700px;
        top: 650px;
        position: absolute;
        display: flex;
        flex-flow: column;
    }

    .work_03>div:nth-child(1)>a>img {
        width: 250px;
        padding-top: 20px;
        margin: 0px;
    }

    .work_03>div:nth-child(2)>a>img {
        width: 250px;
        padding-top: 30px;
    }

    .work_03>div:nth-child(1) {
        position: absolute;
        border-radius: 30px;
        border: 1px solid #081f5c;
        top: 0px;
        height: 250px;
        width: 250px;
    }

    .work_03>div:nth-child(2) {
        position: absolute;
        border-radius: 30px;
        border: 1px solid #081f5c;
        top: 270px;
        height: 250px;
        width: 250px;
    }
    .work_04 {
        left: 5px;
        padding-left: 310px;
        width: 100%;
        height: 860px;
        top: 540px;
        position: absolute;
        display: flex;
        flex-flow: column;
    }

    .work_04>div:nth-child(1) {
        position: absolute;
        border-radius: 30px;
        border: 1px solid #081f5c;
        top: 0px;
        height: 460px;
        width: 250px;
    }

    .work_04>div:nth-child(1)>a>img {
        width: 240px;
        margin: 5px;
    }

    .work_04>div:nth-child(2) {
        position: absolute;
        border-radius: 30px;
        border: 1px solid #081f5c;
        top:480px;
        height: 210px;
        width: 250px;
    }

    .work_04>div:nth-child(2)>a>img {
        width: 250px;
        margin: 0px;
    }

    #contact {
        position: relative;
        width: 100%;
        height: 300px;
        padding-top: 50px;
        background-color: #f7f2eb;
    }

    #contact>h2 {
        height: 50px;
        line-height: 50px;
        font-size: 2.0rem;
        text-align: center;
        color: #081f5c;
    }

    #contact section {
        color: #081f5c;
        height: 200px;
        display: flex;
        justify-content: center;
    }

    #contact section>div:nth-child(1) {
        width: 480PX;
        margin: 0 10px;
        padding: 0 10px;
        position: relative;
    }

    #contact section>div:nth-child(2) {
        width: 300PX;
        margin: 0 0px;
        padding: 0 10px;
        position: relative;
    }

    #contact section>div>span {
        position: absolute;
        top: 73px;
        height: 40PX;
        left: 20px;
    }

    #contact section>div>p {
        text-align: center;
        line-height: 170px;
        font-size: 1.2rem;
    }


}